%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBxnXZJRg6NIKFRtVR1YPzArruPdSzImsI&libraries=places,visualization&callback=initAutocomplete"}
= javascript_include_tag 'trip_map'
= javascript_include_tag 'visits'
%div.container
    %div.panel.panel-default
        %div.panel-body
            %div.row
                %div.panel.panel-default{:style => "border: 0;"}
                    %dib.panel-body
                        %h1{:style => "margin-left: 2%;"} #{@trip.name}
                        %h3{:style => "margin-left: 2%;"} #{@trip.start_date.strftime("%B %d, %Y")} - #{@trip.end_date.strftime("%B %d, %Y")} 
                        %h3{:style => "margin-left: 2%;"} #{@trip.description}
            %div.row
                %div.col-sm-6
                    %div.panel.panel-default{:style => "border: 0;"}
                        %div.panel-body
                            %input#pac-input{:placeholder => "Search Box", :type => "text",:style => "width: 35%;height: 4%;"}
                            #map{:style => "width: 100%;height: 500px;border-radius: 1%; border: 1px #5cb85c;"}
                            %button{:onclick => "togglePastmap(#{@locations})", :class => "btn btn-info"} Show Trip Route
                            %button#hide_show_btn{:onclick => "hideRouteMarkers()", :class => "btn btn-info"} Hide Route Markers
                %div.col-sm-6.pull-right
                    %div.panel.panel-default{:style => "border: 0;"}
                        %div.panel-body
                            %div.row
                                %h2{:id => "visit_header"} Select a Place on the Map!
                                #addvisitform.col-sm-6
                                    = form_tag '/trips/legs/addVisit',:id => 'add_to_leg_form', multipart: true do
                                        %div.form-group.row
                                            = label :visit, :start_date, 'I would like to go here on:'
                                            %br
                                            %input#start_date{:name => "start_date", :type => "date", :class => "form-control", :required => true}
                                        %div.form-group.row
                                            = label :visit, :end_date, 'at:'
                                            %br
                                            %input#visit_time{:name => "visit_time", :type => "time", :class => "form-control", :required => true}
                                            = hidden_field_tag :trip_id, @trip.id, :id => "trip_id"
                                            = hidden_field_tag :name, "", :id => "location_name"
                                            = hidden_field_tag :latitude, "", :id => "location_lat"
                                            = hidden_field_tag :longitude, "", :id => "location_long"
                                        %div.form-group.row
                                            = label :trip, :legs, 'What leg of the trip does this visit belond to?'
                                            %br
                                            = select :trip, :legs, @legNames, :id => 'legs', :class => 'col-sm-9'
                                        #addLeg
                                            %div.form-group.row
                                                = label :leg, :name, 'Give your new Leg a name!'
                                                %br
                                                = text_field :leg, 'name', :id => 'name', :class => 'col-sm-9'
                                            %div.form-group.row
                                                = label :leg, :start_date, 'When do you want to start this leg?:'
                                                %br
                                                %input#start_date{:name => "leg_start_date", :type => "date", :class => "form-control"}
                                            %div.form-group.row
                                                = label :leg, :end_date, 'When do you want to end this leg?:'
                                                %br
                                                %input#end_date{:name => "leg_end_date", :type => "date", :class => "form-control"}
                                        %div.form-group.row
                                            = submit_tag 'Add to Trip', :id => 'visit_submit', :class => 'btn btn-success'

            %div.row
                %div.panel.panel-default{:style => "border: 0;"}
                    %div.panel-body
                        %div
                            %ul.nav.nav-tabs{"data-tabs" => "tabs", "data-tabs" => "tabs", :role => "tablist", :id => "myTabs"}
                                -a = 0
                                -@legNames.each do |leg|
                                    -leg_name = leg.gsub("_"," ")
                                    -if leg != "New Leg" && a == 0
                                        -a = 1
                                        %li.active{"data-toggle" => "tab", :role => "presentation"}
                                            %a{"aria-controls" => "#{leg}_tab", "data-toggle" => "tab", :href => "##{leg}_tab", :role => "tab"} #{leg_name}
                                    -elsif leg != "New Leg"
                                        %li{"data-toggle" => "tab", :role => "presentation"}
                                            %a{"aria-controls" => "#{leg}_tab", "data-toggle" => "tab", :href => "##{leg}_tab", :role => "tab"} #{leg_name}
                            %div.tab-content
                                -a = 0
                                -@legs.each do |leg|
                                    -legLocations = []
                                    -if leg.name != "New Leg" && a == 0
                                        -a = 1
                                        %div.tab-pane.fade.in.active{:id => "#{leg.name}_tab", :role => "tabpanel"}
                                            %div.row{:style => "margin-left: 1%;"}
                                                %h3 #{leg.start_date.strftime("%B %d, %Y")} to #{leg.end_date.strftime("%B %d, %Y")}
                                            -leg.visits.order("start_date","visit_time").each do |visit|
                                                -legLocations.push([visit.location.latitude, visit.location.longitude])
                                                %div.row{:style => "margin-left: 2%;", :id => "#{visit.id}"}
                                                    %h4 
                                                        -location = visit.location
                                                        %button{:onclick => "removeVisit(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-remove btn btn-link", "aria-hidden" => "true"}
                                                        =link_to "#{location.name} ", location_path(visit.location_id, name: location.name, latitude: location.latitude, longitude: location.longitude)
                                                        #{visit.start_date.strftime("%B %d, %Y")} - #{visit.visit_time.strftime('%I:%M %p')}
                                                        %button{:onclick => "showEditDialogue(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-pencil btn btn-link", "aria-hidden" => "true"}
                                                %div.row{:style => "margin-left: 2%;", :id => "#{visit.id}_edit", :hidden => true}
                                                    %h4 Change time and date for #{visit.location.name}
                                                    %div.col-sm-4
                                                        %input{:id => "#{visit.id}_start_date", :type => "date", :class => "form-control", :required => true, :value => "#{visit.start_date}"}
                                                    %div.col-sm-4
                                                        %input{:id => "#{visit.id}_visit_time", :type => "time", :class => "form-control", :required => true, :value => "#{visit.visit_time.strftime('%H:%M')}"}
                                                    %div.col-sm-4
                                                        %button{:id => "#{visit.id}_confirm", :onclick => "changeVisitTime(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-ok btn btn-success", "aria-hidden" => "true"}
                                                        %button{:onclick => "cancelChange(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-remove btn btn-danger", "aria-hidden" => "true"}
                                            %br
                                            %div.row{:style => "margin-left: 1%;"}
                                                %button{:class => "btn btn-info", :onclick => "setMapPos(#{leg.visits.first.location.latitude},#{leg.visits.first.location.longitude})"} Show on Map 
                                                %button{:class => "btn btn-info", :onclick => "togglePastmap(#{legLocations})"} Show Leg Route 
                                                %button{:id => "#{leg.id}_remove", :class => "btn btn-danger", :onclick => "removeLeg(#{leg.id})"} Remove Leg
                                    -elsif leg.name != "New Leg"
                                        %div.tab-pane.fade{:id => "#{leg.name}_tab", :role => "tabpanel"}
                                            %div.row{:style => "margin-left: 1%;"}
                                                %h3 #{leg.start_date.strftime("%B %d, %Y")} to #{leg.end_date.strftime("%B %d, %Y")}
                                            -leg.visits.order("start_date","visit_time").each do |visit|
                                                -legLocations.push([visit.location.latitude, visit.location.longitude])
                                                %div.row{:style => "margin-left: 2%;", :id => "#{visit.id}"}
                                                    %h4 
                                                        -location = visit.location
                                                        %button{:onclick => "removeVisit(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-remove btn btn-link", "aria-hidden" => "true"}
                                                        =link_to "#{location.name} ", location_path(visit.location_id, name: location.name, latitude: location.latitude, longitude: location.longitude)
                                                        #{visit.start_date.strftime("%B %d, %Y")} - #{visit.visit_time.strftime('%I:%M %p')}
                                                        %button{:onclick => "showEditDialogue(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-pencil btn btn-link", "aria-hidden" => "true"}
                                                %div.row{:style => "margin-left: 2%;", :id => "#{visit.id}_edit", :hidden => true}
                                                    %h4 Change time and date for #{visit.location.name}
                                                    %div.col-sm-4
                                                        %input{:id => "#{visit.id}_start_date", :type => "date", :class => "form-control", :required => true, :value => "#{visit.start_date}"}
                                                    %div.col-sm-4
                                                        %input{:id => "#{visit.id}_visit_time", :type => "time", :class => "form-control", :required => true, :value => "#{visit.visit_time.strftime('%H:%M')}"}
                                                    %div.col-sm-4
                                                        %button{:id => "#{visit.id}_confirm", :onclick => "changeVisitTime(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-ok btn btn-success", "aria-hidden" => "true"}
                                                        %button{:onclick => "cancelChange(#{leg.id},#{visit.id})", :class => "glyphicon glyphicon-remove btn btn-danger", "aria-hidden" => "true"}
                                            %br
                                            %div.row{:style => "margin-left: 1%;"}
                                                %button{:class => "btn btn-info", :onclick => "setMapPos(#{leg.visits.order("start_date","visit_time").first.location.latitude},#{leg.visits.order("start_date","visit_time").first.location.longitude})"} Show on Map 
                                                %button{:class => "btn btn-info", :onclick => "togglePastmap(#{legLocations})"} Show Leg Route 
                                                %button{:id => "#{leg.id}_remove", :class => "btn btn-danger", :onclick => "removeLeg(#{leg.id})"} Remove Leg
    -if @current_user.profile_pic.url == nil
        = hidden_field_tag :profile_pic, (asset_path "missing.png")
    -else
        = hidden_field_tag :profile_pic, @current_user.profile_pic.url
    #individual{:style=> "background-color: white; display: none;border-radius: 2%; border: 1px solid black;"}
                                           