%script{:async => "", :defer => "", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBxnXZJRg6NIKFRtVR1YPzArruPdSzImsI&libraries=places,visualization&callback=initAutocomplete"}
= javascript_include_tag 'trip_map'
= javascript_include_tag 'visits'
%div.container
    %div.panel.panel-default
        %div.panel-body
            %div.row
                %div.panel.panel-default{:style => "border: 0;"}
                    %dib.panel-body
                        %h1{:style => "margin-left: 2%;"} #{@trip.name}
                        %h3{:style => "margin-left: 2%;"} #{@trip.description}
            %div.row
                %div.col-sm-6
                    %div.panel.panel-default{:style => "border: 0;"}
                        %div.panel-body
                            %input#pac-input{:placeholder => "Search Box", :type => "text",:style => "width: 35%;height: 4%;"}
                            #map{:style => "width: 100%;height: 500px;border-radius: 1%; border: 1px #5cb85c;"}
                %div.col-sm-6.pull-right
                    %div.panel.panel-default{:style => "border: 0;"}
                        %div.panel-body
                            %div.row
                                %h2{:id => "visit_header"} Select a Place on the Map!
                                %div.col-sm-6
                                    = form_tag '/trips/legs/addVisit',:id => 'add_to_leg_form', multipart: true do
                                        %div.form-group.row
                                            = label :visit, :start_date, 'I would like to go here from:'
                                            %br
                                            %input#start_date{:name => "start_date", :type => "date", :class => "form-control", :required => true}
                                        %div.form-group.row
                                            = label :visit, :end_date, 'to:'
                                            %br
                                            %input#end_date{:name => "end_date", :type => "date", :class => "form-control", :required => true}
                                            = hidden_field_tag :trip_id, @trip.id, :id => "trip_id"
                                            = hidden_field_tag :name, "", :id => "location_name"
                                            = hidden_field_tag :latitude, "", :id => "location_lat"
                                            = hidden_field_tag :longitude, "", :id => "location_long"
                                        %div.form-group.row
                                            = label :trip, :legs, 'What leg of the trip does this visit belond to?'
                                            %br
                                            = select :trip, :legs, @legNames, :id => 'legs', :class => 'col-sm-9'
                                        #addLeg
                                            %div.form-group.row
                                                = label :leg, :name, 'Give your new Leg a name!'
                                                %br
                                                = text_field :leg, 'name', :id => 'name', :class => 'col-sm-9'
                                            %div.form-group.row
                                                = label :leg, :start_date, 'When do you want to start this leg?:'
                                                %br
                                                %input#start_date{:name => "leg_start_date", :type => "date", :class => "form-control"}
                                            %div.form-group.row
                                                = label :leg, :end_date, 'When do you want to end this leg?:'
                                                %br
                                                %input#end_date{:name => "leg_end_date", :type => "date", :class => "form-control"}
                                        %div.form-group.row
                                            = submit_tag 'Add to Trip', :id => 'visit_submit', :class => 'btn btn-success'

            %div.row
                %div.panel.panel-default{:style => "border: 0;"}
                    %div.panel-body
                        %div
                            %ul.nav.nav-tabs{"data-tabs" => "tabs", "data-tabs" => "tabs", :role => "tablist", :id => "myTabs"}
                                -a = 0
                                -@legNames.each do |leg|
                                    -if leg != "New Leg" && a == 0
                                        -a = 1
                                        %li.active{"data-toggle" => "tab", :role => "presentation"}
                                            %a{"aria-controls" => "#{leg}_tab", "data-toggle" => "tab", :href => "##{leg}_tab", :role => "tab"} #{leg}
                                    -elsif leg != "New Leg"
                                        %li{"data-toggle" => "tab", :role => "presentation"}
                                            %a{"aria-controls" => "#{leg}_tab", "data-toggle" => "tab", :href => "##{leg}_tab", :role => "tab"} #{leg}
                            %div.tab-content
                                -a = 0
                                -@legs.each do |leg|
                                    -if leg.name != "New Leg" && a == 0
                                        -a = 1
                                        %div.tab-pane.fade.in.active{:id => "#{leg.name}_tab", :role => "tabpanel"}
                                            -leg.visits.each do |visit|
                                                %h4 #{visit.location.name}
                                                %h5 Start Date: #{visit.start_date}
                                                %h5 End Date: #{visit.end_date}
                                            .buttons
                                                //button_to "Edit Leg",:onclick => $(#leg_edit).toggle, :class => 'btn btn-success' 
                                                %button#leg_edit_button{:class => "btn btn-success" } Edit Leg
                                                .div#leg_edit{:style =>"visibility: hidden"}
                                                
                                                    = label :visit, :start_date, 'I would like to go here from:'
                                                    %br
                                                    %input#start_date{:name => "start_date", :type => "date", :class => "form-control", :required => true}
                                                    
                                                    = label :visit, :end_date, 'to:'
                                                    %br
                                                    %input#end_date{:name => "end_date", :type => "date", :class => "form-control", :required => true}
                                                    
                                                    = button_to "Submit Leg changes", leg_path(leg.id),:method => :put, :class => 'btn btn-success'
                                                //= button_to 'Delete Leg', leg_path(leg.id), :method => :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger'
                                    -elsif leg.name != "New Leg"
                                        %div.tab-pane.fade{:id => "#{leg.name}_tab", :role => "tabpanel"}
                                            -leg.visits.each do |visit|
                                                %h4 #{visit.location.name}
                                                %h5 Start Date: #{visit.start_date}
                                                %h5 End Date: #{visit.end_date}
                                            .buttons
                                                //button_to "Edit Leg",:onclick => $(#leg_edit).toggle, :class => 'btn btn-success' 
                                                %button#leg_edit_button{:class => "btn btn-success" } Edit Leg
                                                .div#leg_edit{:style =>"visibility: hidden"}
                                                
                                                    = label :visit, :start_date, 'I would like to go here from:'
                                                    %br
                                                    %input#start_date{:name => "start_date", :type => "date", :class => "form-control", :required => true}
                                                    
                                                    = label :visit, :end_date, 'to:'
                                                    %br
                                                    %input#end_date{:name => "end_date", :type => "date", :class => "form-control", :required => true}
                                                    
                                                    = button_to "Submit Leg changes", leg_path(leg.id),:method => :put, :class => 'btn btn-success'
                                                //= button_to 'Delete Leg', leg_path(leg.id), :method => :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger'
                                                
    -if @current_user.profile_pic.url == nil
        = hidden_field_tag :profile_pic, (asset_path "missing.png")
    -else
        = hidden_field_tag :profile_pic, @current_user.profile_pic.url
    #individual{:style=> "background-color: white; display: none;border-radius: 2%; border: 1px solid black;"}
                                           