.container  
  = form_tag visit_path(@visit), :method => :put do
    .panel.panel-default 
      .panel-body
        %h3 #{@location.name}
        .col-sm-6
          .form-group.row
            = label :visit, :start_date, 'I visited from'
            %br
            %input#start_date{:name => "start_date", :type => "date", :class => "form-control", :value => @visit.start_date, :required => true}
          .form-group.row
            = label :visit, :end_date, 'to'
            %br
            %input#end_date{:name => "end_date", :type => "date", :class => "form-control", :value => @visit.end_date, :required => true}
          .form-group.row
            = submit_tag 'Update Visit', :id => 'visit_submit', :class => 'btn btn-success'

