= javascript_include_tag 'visits'
.container
  = form_tag visits_path, :id => 'date_form', :method => :post do
    .panel.panel-default
      .panel-body
        %h3 #{@name}
        .col-sm-6
          .form-group.row
            = label :visit, :start_date, 'I visited from'
            %br
            %input#start_date{:name => "start_date", :type => "date", :class => "form-control datepicker", :required => true}
          .form-group.row
            = label :visit, :end_date, 'to'
            %br
            %input#end_date{:name => "end_date", :type => "date", :class => "form-control", :required => true}
            = hidden_field_tag :name, @name
            = hidden_field_tag :latitude, @latitude
            = hidden_field_tag :longitude, @longitude
          .form-group.row
            = submit_tag 'Create Visit', :id => 'visit_submit', :class => 'btn btn-success'
      #errors.alert.alert-danger




