= stylesheet_link_tag    'new_user'
= javascript_include_tag 'edit_scripts'
%div.container
  %div.row
    %div.panel.panel-default
      %div.panel-body{:style => 'height: 40%;'}
        = form_tag 'update', :id => 'edit_form', multipart: true do
          %div.row
            %h1{:style => 'margin-left: 2%;'} Edit Profile
          %div.row
            %div.col-sm-6
              %div.form-group.row
                = label :user, :first_name, 'First Name', :class => 'col-sm-2'
                = text_field :user, 'first_name', :id => 'first_name', :class => 'col-sm-9', :value => @current_user.first_name
              %div.form-group.row
                = label :user, :last_name, 'Last Name', :class => 'col-sm-2'
                = text_field :user, 'last_name', :id => 'last_name', :class => 'col-sm-9', :value => @current_user.last_name
              %div.form-group.row
                = label :user, :gender, 'Gender', :class => 'col-sm-2'
                = text_field :user, 'gender', :id => 'gender', :class => 'col-sm-9', :value => @current_user.gender
              %div.form-group.row
                = label :user, :profile_pic, 'Profile Picture', :class => 'col-sm-2'
                = file_field_tag 'profile_pic', :id => 'profile_pic', accept: 'image/png,image/gif,image/jpeg', :onchange => "displayImage(this)" 
                %img.img-responsive.img-rounded{:src => @current_user.profile_pic, :id => "previewimage", :width => 250, :height => 250} 
          %div.row{:style => "margin-left: 2%;"}     
            = submit_tag 'Update My Account', :id => 'edit_submit', :class => 'btn btn-success'