<div class="row">
  <!-- Not implemented on tutorial -->
  <div class="col-md-4" style="margin-left: 5%">
    <div style="height: 300px; overflow-y: auto;">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h1>Friends!</h1></div>

        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>User Name</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @current_user.friends.each do |friend| %>
              <tr>
                <% if @current_user.inverse_friends.find_by_user_id(friend.user_id) %>
                  <td><%= friend.user_id %></td>
                  <td>
                    <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                              "data-sid" => @current_user.id, "data-rip" => friend.id %>
                  </td>
                <% end %>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
    </div>
  <div class="col-md-4" style="margin-left: 1%">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h3>Past Conversations</h3></div>
  
        <hr>
        <h3>Your Conversations</h3>
          
        <div style="height: 400px; overflow-y: auto;">
          <% if @conversations.any? %>
            <ul class="media-list">
              <% @conversations.each do |conversation| %>
                <li class="media">
                  <%= image_tag(User.find_by_user_id(conversation_interlocutor(conversation).user_id).profile_pic, class: "media-object pull-left", width: "50px", height: "50px") %>
                  <div class="media-body">
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                    <h4 class="media-heading"><%= conversation_interlocutor(conversation).user_id %></h4>
                    <p>Last Message - <%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                    <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                                  "data-sid" => @current_user.id, "data-rip" => conversation_interlocutor(conversation).id %>
                  </div>
                </li>
          
              <% end %>
            </ul>
          <% else %>
            <p>You have no conversations. Click send message with any user to create one.</p>
          <% end %>
        </div>
      </div>
    </div>  
  </div>
</div>