%div.container
    %div.row
        %div.col-sm-4
            %div.panel.panel-default
                %div.panel-body{:style => 'height: 40%;'}
                    %div.row
                        %div.col-sm-12
                            %h1 #{@user_view.user_id}
                            -if !@current_user.friends.find_by_user_id(@user_view.user_id) && @user_view.friends.find_by_user_id(@current_user.user_id)
                                = form_tag friendships_path, :id => 'add_friend' do
                                    = text_field :friend, 'user_id', :id => 'user_id', :hidden => true, :value => @user_view.id
                                    = submit_tag 'Accept Request', :id => 'add_friend_submit', :class => 'btn btn-success'
                            -elsif @current_user.friends.find_by_user_id(@user_view.user_id) && !@user_view.friends.find_by_user_id(@current_user.user_id)
                                %button.btn Friendship Pending
                            -elsif @current_user.friends.find_by_user_id(@user_view.user_id) && @user_view.friends.find_by_user_id(@current_user.user_id)
                                %h5 Friends since #{@user_view.friendships.find_by_friend_id(@current_user.id).created_at}
                            -elsif (@user_view.user_id != @current_user.user_id)
                                = form_tag friendships_path, :id => 'add_friend' do
                                    = text_field :friend, 'user_id', :id => 'user_id', :hidden => true, :value => @user_view.id
                                    = submit_tag 'Add Friend', :id => 'add_friend_submit', :class => 'btn btn-success'
                                
                    %div.row
                        %div.col-sm-12
                            %br
                            %img.img-rounded.img-responsive{:src => @user_view.profile_pic, :id => "profile_picture", :height => "250px", :width => "250px"}
                            %h5 Name: #{@user_view.first_name} #{@user_view.last_name}
                            %h5 Gender: #{@user_view.gender}
                            %h5 Email: #{@user_view.email}
        %div.col-sm-8.pull-right
            %div.panel.panel-default
                %div.panel-body
                    %div.row
                        %div.col-sm-12
                            %h1 Friends
                            %div.row
                                -@user_view.friends.each do |friend|
                                    -if friend.friends.find_by_user_id(@user_view.user_id)
                                        %div.col-sm-4
                                            %a{:href=>"/users/#{friend.user_id}"}
                                                %img.img-rounded{:src => friend.profile_pic, :id => "profile_picture", :height => "150px", :width => "150px"}
                                            %h5 #{friend.first_name} #{friend.last_name} (#{friend.user_id})
            %div.panel.panel-default
                %div.panel-body
                    %div.row
                        %div.col-sm-12
                            %h1 Albums
                            %div.row
                                -@user_view.albums.each do |album|
                                    -if album.privacy == "Everyone" || (album.privacy == "Just Me" && @user_view.id == @current_user.id) || (album.privacy == "Friends" && @user_view.id == @current_user.id)
                                        %div.col-sm-4
                                            %a{:href=>"/albums/#{album.id}"}
                                                %img.img-rounded{:src => Photo.find(album.cover).data, :id => "album_cover_#{album.id}", :height => "150px", :width => "150px"}
                                            %h5 #{album.title}
                                    -if album.privacy == "Friends"
                                        -@user_view.friends.each do |friend|
                                            -if friend.user_id == @current_user.user_id
                                                %div.col-sm-4
                                                    %a{:href=>"/albums/#{album.id}"}
                                                        %img.img-rounded{:src => Photo.find(album.cover).data, :id => "album_cover_#{album.id}", :height => "150px", :width => "150px"}
                                                    %h5 #{album.title} (#{album.description})