.container.album

    %br
    %h1
        = @album.title
        -if @current_user.id != @album.user_id
            by
            %a{:href => "/users/#{@album.user.user_id}", :method => :get} #{@album.user.user_id}
    %h3
        = @album.description
    %br
    - if @album.user_id == @current_user.id
        .buttons
            = button_to "Edit Album", edit_album_path(@album.id),:method => "get", :class => 'btn btn-success'
            = button_to "Add Photos", new_photo_path,:method => "get", :class => 'btn btn-success', params: {album_id: @album.id}
            = button_to 'Delete Album', album_path(@album.id), :method => :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger'
            = button_to "Albums Homepage", albums_path,:method => "get", :class => 'btn btn-success'
    %br
    
    - if !(@photos.nil?)
        - @photos.each do |photo|
            .photo_resize
                %a{:href => "/photos/#{photo.id}", :method => :get}
                    =image_tag photo.data
