.container  
  = form_tag review_path(@review), :method => :put do
    .panel.panel-default 
      .panel-body
        %h3 #{@location.name}: Edit Review
        .col-sm-6
          .form-group.row
            = label :review, :rating, 'Rating'
            = select :review, :rating, [1,2,3,4,5]
          .form-group.row
            = label :review, :comment, 'Comment'
            %br
            = text_area :review, :comment, :value => @review.comment
          .row
            = submit_tag 'Update Review', :id => 'edit_review_submit', :class => 'btn btn-success'