.container  
  = form_tag review_path(@review), :method => :put do
    .panel.panel-default 
      .panel-body
        %h3 #{@location.name}: Edit Review
        .col-sm-6
          .form-group.row
            = label :review, :rating, 'Rating'
            = select :review, :rating, [5,4,3,2,1]
          .form-group.row
            = label :review, :comment, 'Comment'
            %br
            = text_area :review, :comment, :value => @review.comment, :class => 'form-control'
          .row
            = submit_tag 'Update Review', :id => 'review_submit', :class => 'btn btn-success'
      .panel-footer
        = link_to "Back to visit", visit_path(@review.visit_id)
        %br
        = link_to "Back to location", location_path(Visit.find(@review.visit_id).location_id)