.container
  = form_tag reviews_path(:visit_id => @visit.id), :method => :post do
    .panel.panel-default
      .panel-body
        %h3 #{@location.name}: New Review
        .col-sm-6
          .form-group.row
            = label :review, :rating, 'Rating'
            = select :review, :rating, [5,4,3,2,1]
          .form-group.row
            = label :review, :comment, 'Comment'
            %br
            = text_area :review, :comment
          .row
            = submit_tag 'Save Review', :id => 'review_submit', :class => 'btn btn-success'