<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>SeltProject</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Home", users_homepage_path, method: :get, class: "navbar-brand"%>
          <%= link_to "My Visits", visits_path, class: "navbar-brand"%>
          <%= link_to "Kayak", "https://www.kayak.com/", class: "navbar-brand"%>
          <%= link_to "Yelp", "https://www.yelp.com", class: "navbar-brand"%>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if @current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= button_to 'Log Out', session_path(@current_user), :method => 'delete', class: "btn btn-default navbar-btn"%></li>
          </ul>
          <% else %>
            <%= form_for(:session, :url => sessions_path, html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
              <div class="form-group">
                <%= f.text_field :user_id, :placeholder => "User-ID", :id => "user_id_nav", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, :placeholder => "Password", :id => "password_nav", class: "form-control" %>
              </div>
              <%= f.submit 'Login', class: "btn btn-default" %>
            <% end %>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="main">
      <% if flash[:notice] %>
        <div class="message" id="notice">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:warning] %>
        <div class="message" id="warning">
          <%= flash[:warning] %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="container">
      <!-- flash messages here -->
      <%= yield %>
    </div>
  </body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- shiv here -->


