<!DOCTYPE html>
<html>
  <head>
    <title>Backpack Traveler</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'autocomplete'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Backpack Traveler", users_homepage_path, method: :get, class: "navbar-brand", id: "logo"%>
          
          <% if flash[:notice] %>
            <div class="nav navbar-center message" id="notice">
              <%= flash[:notice] %>
            </div>
          <% elsif flash[:warning] %>
            <div class="nav navbar-center message" id="warning">
              <%= flash[:warning] %>
            </div>
          <% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if @current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              
              <div class="ui-widget">
                <form class="navbar-form navbar-right form-search" method="GET" action="/users">
                  <input type="text" class="form-control search-query" placeholder="Search for friends!" oninput= "searching()" id="search" autocomplete = 'on'/>
                  <input id="link_origin_id" name="link[origin_id]" type="hidden"/>
                </form>
              </div>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img alt="profile_pic" width="20px" height="20px" src=
                <%= if @current_user.profile_pic.url == nil 
                      asset_path 'missing.png'
                    else
                      @current_user.profile_pic
                    end %>>
                <%= @current_user.user_id %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/<%= @current_user.user_id %>">View Profile</a></li>
                <li><a href="/users/<%= @current_user.user_id %>/edit">Edit Profile</a></li>
                <li><a href= <%=albums_path %> >Photos</a></li>
                <li><a href= <%=visits_path %> >Visits</a></li>
                <li><a href= <%=reviews_path %> > Reviews</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <% if @friend_requests.any? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" style="color:red"><%= @friend_requests.count %>!</span></a>
                <ul class="dropdown-menu">
                  <% @friend_requests.each do |request| %>
                    <li><a href="/users/<%= request.user_id %>"><%= request.user_id  %></a></li>
                  <% end %>
                </ul>
              <% else %>
                <a href="#" disabled="true" class="dropdown-toggle" data-toggle="" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
              <% end %>
            </li>
            <li><%= button_to 'Log Out', session_path(@current_user), :method => 'delete', class: "btn btn-default navbar-btn"%></li>
          </ul>
          <% else %>
            <%= form_for(:session, :url => sessions_path, html: { class: "navbar-form navbar-right form-inline" }) do |f| %>
              <div class="form-group">
                <%= f.text_field :user_id, :placeholder => "User-ID", :id => "user_id_nav", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, :placeholder => "Password", :id => "password_nav", class: "form-control" %>
              </div>
              <%= f.submit 'Login', class: "btn btn-default" %>
            <% end %>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="main">
      <%= yield %> 
    </div>
  </body>
</html>
